[submodule "godot-cpp"]
	path = godot-cpp
	url = https://github.com/GodotNativeTools/godot-cpp
[submodule "GDNative/Clipboard/clip"]
	path = GDNative/Clipboard/clip
	url = git@github.com:dacap/clip.git
[submodule "GDNative/NativeFileDialog/nativefiledialog-extended"]
	path = GDNative/NativeFileDialog/nativefiledialog-extended
	url = git@github.com:btzy/nativefiledialog-extended.git
